pkgbase = metis
	pkgdesc = Pure Common Lisp hybrid mind with dual-facet sealed knowledge symbols
	pkgver = 4.5.0
	pkgrel = 1
	url = https://metis.f00.sh/
	arch = any
	license = MIT
	depends = sbcl
	optdepends = git: clone/update workflows
	optdepends = curl: curl|sh installer and remote symbols
	optdepends = openssl: sealed package crypto helpers
	provides = metis
	conflicts = metis-git
	options = !strip
	source = metis-4.5.0-src.tar.gz::https://github.com/f00-sh/metis/releases/download/4.5.0/metis-4.5.0-src.tar.gz
	sha256sums = d0cc8cea8260472cb0519ddfaaf0ab3476cea287b7c64baf891fcffdec1774e6

pkgname = metis
